ion-tab-bar {
  --background: #212126;
  --border-color: rgba(115, 52, 86, 0.4);
  border-top: 1px solid rgba(115, 52, 86, 0.4);
}

ion-tab-button {
  --color: #8E8E93;
  --color-selected: #733456;
  --background: transparent;
  --background-focused: transparent;

  ion-icon {
    font-size: 22px;
    margin-bottom: 2px;
  }

  ion-label {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
