<ion-tabs>
  <ion-tab-bar slot="bottom" class="bg-bgCard/90 border-t border-borderBrand h-16">
    
    <!-- Pestaña 1: Monitor -->
    <ion-tab-button tab="home" class="bg-transparent text-brandLight">
      <span class="text-2xl mb-1"></span>
      <span class="text-[9px] font-extrabold uppercase tracking-widest text-brandLight">Monitor</span>
    </ion-tab-button>

    <!-- Pestaña 2: Ajustes -->
    <ion-tab-button tab="configuracion" class="bg-transparent text-textLight opacity-50">
      <span class="text-2xl mb-1"></span>
      <span class="text-[9px] font-extrabold uppercase tracking-widest">Ajustes</span>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>